{% extends 'base.html' %}

{% block title %}
글 상세
{% endblock %}
{% block content %}
<div class="container">
    <div class="wrap">
        <h2 class="title-center"> 글 상세보기</h2>
        <form action="/create/" method="POST">
            {% csrf_token %}
            <div class="form-group mt-2 mb-2">
                <label for="title">DETAIL</label>
                <div class="card">
                    <div class="card-body">
                        <p class="mt-0">{{ wt.title }} 제목 들어갈 자리</p>
                        <p style="float: right;">{{ wt.title }} 프로필 사진, 작성자 이름</p>
                    </div>
                </div>
            </div>
                <div class="card">
                    <div class="card-body">
                        <p>글 내용이 들어오면 됩니다용</p>
                    </div>
                </div>
            <hr>
            <div style="float: right">
                <button type="submit" class="btn btn-primary" href="#" />수정</button>
                <button type="submit" class="btn btn-primary" href="#" />공유</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}