{% extends 'base.html' %}

{% block title %}
글 상세
{% endblock %}
{% block content %}
<div class="container">
    <div class="wrap">
        <h2 class="title-center"> SSAP 상세보기</h2>
            {% csrf_token %}
            <div class="form-group mt-2 mb-2">
                <label for="title">DETAIL</label>
                <div class="card">
                    <div class="card-body">
                        <p class="mt-0">{{ writes.title }}</p>
                        <p style="float: right;">{{ writes.nickname }}</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p>{{ writes.content }}</p>
                </div>
            </div> 
        <hr>
            <div style="float: right">
                <a class="btn btn-primary" href="edit/">수정</a>
                <a class="btn btn-primary" href="delete/">삭제</a>
            </div>  
    </div>
</div>
{% endblock %}

