{% extends 'base.html' %}

{% block title %}
글 수정
{% endblock %}
{% block content %}
<div class="container">
    <div class="wrap">
        <h2 class="title-center"> SSAP 수정하기</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group mt-2 mb-2">
                <label for="title">서두</label>
                <input type="text" class="form-control" name="title" id="title">
            </div>
            <div class="form-group mt-2 mb-2">
                <label for="content">본론</label>
                <textarea name="content" class="form-control" id="content" cols="30" rows="10" placeholder="내용을 입력하세요"></textarea>
            </div>
            <hr>
            <div style="float: right">
                <button type="submit" class="btn btn-primary" href="edit/">재SSAP</button>
            </div> 
        </form>
    </div>
</div>
{% endblock %}