<!-- templates/tweet/home.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container timeline-container">
    <div class="row">
        <!-- 왼쪽 컬럼 -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text"> 안녕하세요?{{ user.nickname }}님, 오늘도 ALLTAG과 함께 좋은 하루되세요!</p>
                </div>
            </div>
        </div>

        <!-- 오른 쪽 컬럼-->
        <!-- <div class="col-md-7"> -->
        <!-- 글을 작성 하는 곳 -->
        <!-- <div class="row mb-2">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mt-0">나의 이야기를 적어주세요</h5>
                                    <p>
                                    <form>
                                        <div class="form-group mb-2">
                                            <textarea class="form-control" style="resize: none" name='my-content'
                                                id="my-content"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary" style="float:right;">작성하기</button>
                                    </form>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            작성 된 글이 나오는 곳  -->
        <!-- </div>  -->
        <div class="row">

            {% for wt in writes %}
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <div class="media-body">
                                <h5 class="mt-0">{{ wt.title }}</h5>
                            </div>
                            <div style="text-align: right">
                                <a href="/main-page/{{wt.id}}">
                                    <span class="">자세히 보기</span>
                                </a>
                                <span style="font-size: small">{{ wt.author.nickname }}-{{ wt.created_at}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
    <div class="col-md-2"></div>
</div>
</div>
{% endblock %}